body {
    margin: 0;
}

.header {
    height: 100px;
    width: 100%;

    background: linear-gradient(#171a21, #2a475e);
}

.flex {
    display: flex;
}

.pos-centre {
    align-items: center;
    justify-content: center;
}

.header-font {
    
}